@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'GowunBatang-Regular', serif;
  background-color: black;
  color: #222;
  /*overflow : 컨테이너 밖으로 삐져나오지않게(x축만 안보이게 설정)*/
  overflow-x: hidden;
  margin: 0;
}

.container {
  background-color: #fafafa;
  width: 100vw; /*가로 100%로 화면에 꽉 차게*/
  min-height: 100vw; /*세로 100%인데 min으로 설정해서 필요하면 더 늘어남*/
  padding: 50px;
  transition: transform 0.5s linear; /*트렌스폼(회전)을 0.5초동안 일정한 속도로*/
  transform-origin: top left; /*회전중심을 컨테이너 가운데에서 왼쪽위쪽으로*/
}
/* 클래스 컨테이너 + show-nav가 있을때 => 회전 */
.container.show-nav {
  transform: rotate(-20deg); /*회전*/
}
/* 버튼 컨테이너 클래스 */
.circle-container {
  position: fixed; /*위치 고정*/
  top: -100px;
  left: -100px;
}
/*버튼의 CSS*/
.circle {
  background-color: #ff7979;
  height: 200px;
  width: 200px;
  border-radius: 50%; /*원형으로 만듬*/
  position: relative; /*버튼 2개의 기준*/
  transition: transform 0.5s linear;
}
/*show-nav 클래스가 컨테이너에 추가가 되면 .circle에 적용된다.*/
.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%; /*47%로하면 보임*/
  left: 50%; /*13%로하면 보임*/
  height: 100px;
  background-color: transparent;
  border: 0;
  font-size: 26px;
  color: white;
}

.circle button:focus {
  outline: none; /*아웃라인 보기싫어서 삭제*/
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}
/* 하단의 메뉴 버튼 CSS : show-nav 클래스가 있으면 nav 나타남 */
.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%); /*회전하기 전에는 x축 -100%로 안보임*/
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}

nav a {
  color: #fafafa;
  text-decoration: none;
  transition: all 0.5s;
}

nav a:hover {
  color: #ff7979;
  font-weight: bold;
}

.content img {
  max-width: 100%;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
}
