@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* '*'은 전체 태그에 적용 */
* {
  box-sizing: border-box;
  /* padding말고 border-box를 기준으로 하겠다. (검색해보자) */
}

body {
  font-family: 'Ubuntu', monospace;
  display: flex; /* 하위 태그들을 정렬 : CSS로 화면에 배치하는 것(float 안씀) */
  flex-direction: column; /* 전체 세로 정렬 */
  justify-content: center; /* 가로 정렬 */
  align-items: center; /* 세로 정렬 */
  height: 100vh; /* vh는 화면의 % -> 100vh = 화면의 100% */
  overflow: hidden; /*  */
  margin: 0;
}

.bg {
  /* background: url('https://images.unsplash.com/photo-1641002487920-0c3d5ca4573e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNjB8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60')
    no-repeat center center/cover; */
  background-image: url('https://images.unsplash.com/photo-1641002487920-0c3d5ca4573e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNjB8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat; /*반복*/
  background-position: center center; /*위치 세로 가로*/
  background-size: cover; /*클래스bg태그의 가로세로길이 100% 커버*/
  width: 100vw; /*100 너비*/
  height: 100vh; /*100 높이*/
  position: absolute; /*위로 떠있는 상태, 기준이 없을 경우 화면이 기준이 된다.*/
  top: 0;
  left: 0;
  z-index: -1; /*z축 값을 줘서 아래로 보냄*/
  filter: blur(30px); /*0~30%*/
}
.loading-text {
  color: white;
  font-size: 50px;
}
